##LA DIRECCIÓN DE IP QUE APARECE LA TIENEN QUE CAMBIAR POR LA DIRECCIÓN DE IPv4 LOCAL DE SU COMPUTADORA
EXPO_PUBLIC_API_URL=http://feelink-api.runasp.net/api/
EXPO_PUBLIC_WS_BASE_URL=ws://feelink-api.runasp.net/ws/sensor-data
EXPO_PUBLIC_DEVICE_MAC_ADDRESS=F8:B3:B7:30:34:80